<div class="card text-bg-dark">
    <img src="https://th.bing.com/th/id/R.9de0b9f3b7d94a900476b38a0f83c1a0?rik=AodmZ5RqSB8Q7w&riu=http%3a%2f%2fcsrinfo.cisconetspace.com%2frs%2f059-VFZ-834%2fimages%2f01+Instructor+Banner+-02012019.jpg&ehk=A9Klzk%2bubX5DM1IMCnrHrIP8GauCNzY9ARxzcz3lFiU%3d&risl=&pid=ImgRaw&r=0"
        class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">CISCO ACADEMY</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Cisco Networking Academy é uma iniciativa educacional da Cisco Systems, uma empresa
            multinacional americana de tecnologia. O programa é uma rede global de parcerias educacionais e treinamento
            em tecnologia para ajudar as pessoas a desenvolver habilidades em rede e se preparar para carreiras em
            tecnologia da informação e comunicação.</p>

        <p>O Cisco Networking Academy oferece uma ampla gama de cursos e currículos em rede e tecnologia, incluindo
            cursos em segurança de rede, programação, Internet das Coisas (IoT), redes sem fio, redes empresariais,
            cibersegurança e muito mais. Os cursos são desenvolvidos por especialistas da indústria e são atualizados
            regularmente para manter-se atualizado com as mudanças na tecnologia e nas práticas recomendadas.</p>

        <p>Os cursos do Cisco Networking Academy são oferecidos em instituições de ensino parceiras em todo o mundo,
            incluindo escolas secundárias, instituições de ensino técnico, faculdades e universidades. Os alunos podem
            se inscrever em cursos individuais ou em currículos completos para obter certificações reconhecidas pela
            indústria e se preparar para carreiras em tecnologia de rede e TI.</p>

        <p>Além de fornecer cursos e treinamento em tecnologia, o Cisco Networking Academy também oferece oportunidades
            para os alunos participarem de competições e hackathons para aplicar suas habilidades e conhecimentos em
            projetos do mundo real. A iniciativa é parte dos esforços da Cisco para aumentar a acessibilidade e a
            diversidade na educação em tecnologia e ajudar a preparar as pessoas para o futuro do trabalho em tecnologia
            da informação e comunicação.</p>
        <a href="https://www.netacad.com/" class="btn btn-primary">Click</a>
    </div>
</div>




