<div class="card text-bg-dark">
    <img src="https://betanews.com/wp-content/uploads/2017/08/google-mountain-view.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">GOOGLE</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">A Google é uma empresa americana de tecnologia fundada em 1998 por Larry Page e Sergey
            Brin, enquanto estavam estudando na Universidade de Stanford. Ela é conhecida principalmente pelo seu motor
            de busca na internet, que é usado por milhões de pessoas em todo o mundo para encontrar informações,
            imagens, vídeos e outros conteúdos online.</p>

        <p>Ao longo dos anos, a Google expandiu seus negócios para incluir uma ampla gama de serviços e produtos, como o
            Gmail, o Google Maps, o Google Drive, o YouTube, o Android (sistema operacional para dispositivos móveis), o
            Chrome (navegador web), entre outros. A empresa também desenvolveu tecnologias avançadas em áreas como
            inteligência artificial, processamento de linguagem natural, robótica, carros autônomos e computação em
            nuvem.</p>

        <p>Atualmente, a Google é uma das maiores empresas do mundo em termos de valor de mercado e emprega milhares de
            pessoas em diversos países ao redor do globo. Ela também é conhecida por sua cultura corporativa única, que
            valoriza a inovação, a criatividade e o bem-estar dos funcionários.</p>
        <a href="https://www.google.com.br/" class="btn btn-primary">Click</a>
    </div>
</div>

