<div class="card text-bg-dark">
    <img src="https://www.crhoy.com/wp-content/uploads/2019/06/huawei-edificio-recurso-948.jpg" class="card-img"
        alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">HUAWEI</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">A Huawei é uma empresa multinacional de tecnologia sediada na China, fundada em 1987 por
            Ren Zhengfei. A empresa é conhecida por fornecer equipamentos de telecomunicações, dispositivos móveis,
            equipamentos de rede, soluções de nuvem e serviços relacionados à tecnologia.</p>

        <p>A Huawei é uma das maiores empresas de tecnologia do mundo, com presença em mais de 170 países e regiões e
            empregando mais de 194.000 funcionários em todo o mundo. A empresa tem um forte foco em pesquisa e
            desenvolvimento, com mais de 80.000 funcionários dedicados a atividades de pesquisa e desenvolvimento em
            todo o mundo.</p>

        <p>A Huawei é um dos principais fornecedores de equipamentos de telecomunicações do mundo e está envolvida no
            desenvolvimento de tecnologias de rede de próxima geração, incluindo 5G. Além disso, a empresa também produz
            dispositivos móveis, incluindo smartphones e tablets, que são vendidos em todo o mundo.</p>

        <p>A Huawei é uma empresa polêmica e tem enfrentado algumas controvérsias relacionadas a preocupações de
            segurança cibernética e alegações de espionagem, levando a restrições de vários países em relação aos seus
            produtos e serviços. A empresa tem buscado melhorar sua imagem e reputação, trabalhando em estreita
            colaboração com as autoridades regulatórias em todo o mundo e implementando medidas para garantir a
            segurança e privacidade dos dados de seus clientes.</p>
        <a href="https://www.huawei.com/br/" class="btn btn-primary">Click</a>
    </div>
</div>










