<div class="card text-bg-dark">
  <img src="https://th.bing.com/th/id/R.eb19ffd2d91657add4e9ee3b549ad7ef?rik=Ivh4OGNSALA8cg&riu=http%3a%2f%2fwindowsunited.de%2fwp-content%2fuploads%2f2016%2f01%2fAllen-und-Gates.jpg&ehk=o5t9xITM2QickSXw2hHw5ReSQUiuJCLDm7JBT98jHnE%3d&risl=&pid=ImgRaw&r=0" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <p class="card-text"><small></small></p>
  </div>
</div>

<div class="card">
    <h5 class="card-header">MICROSOFT</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        <p>A Microsoft Corporation é uma das maiores empresas de tecnologia do mundo, fundada em 1975 por Bill Gates e
            Paul Allen. A empresa é conhecida por criar e distribuir software, hardware e serviços relacionados à
            tecnologia.</p>

        <p> A Microsoft é conhecida por sua linha de produtos de software, incluindo o sistema operacional Windows, o
            pacote de produtividade Microsoft Office (que inclui Word, Excel, PowerPoint, entre outros), o navegador web
            Microsoft Edge e o sistema operacional para dispositivos móveis Windows Phone. A empresa também produz
            hardware, como a linha de consoles de videogame Xbox, Surface (uma linha de tablets e laptops), mouses,
            teclados, e outros acessórios.</p>

        <p> Além disso, a Microsoft oferece serviços em nuvem, como o Microsoft Azure e o Microsoft 365, e também
            serviços de busca na internet (Bing) e de comunicação (Skype).</p>

        <p>A Microsoft é uma das maiores empresas de tecnologia do mundo, empregando mais de 170.000 pessoas em todo o
            mundo e atendendo a clientes em quase todos os setores. A empresa tem uma longa história de inovação e
            liderança em tecnologia, com uma ampla gama de produtos e serviços para atender às necessidades de seus
            clientes.</p>
        <a href="https://learn.microsoft.com/pt-br/training/" class="btn btn-primary">Click</a>
    </div>
</div>