<div class="card text-bg-dark">
    <img src="https://media.gettyimages.com/photos/oracle-world-headquarters-picture-id493248015" class="card-img"
        alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
    </div>
</div>

<div class="card">
    <h5 class="card-header">ORACLE</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">A Oracle Corporation é uma empresa multinacional americana de tecnologia fundada em 1977
            por Larry Ellison, Bob Miner e Ed Oates. A empresa é conhecida por fornecer software, hardware e serviços
            relacionados à tecnologia, com foco especial em soluções de gerenciamento de dados empresariais.</p>

        <p> A Oracle é mais conhecida por seu banco de dados relacional Oracle Database, que é amplamente utilizado em
            empresas e organizações de todos os tamanhos em todo o mundo. A empresa também oferece uma ampla gama de
            outros produtos e serviços, incluindo software de aplicativos empresariais, plataformas de computação em
            nuvem, servidores, armazenamento e software de middleware.</p>

        <p> A Oracle é uma das maiores empresas de tecnologia do mundo, com mais de 135.000 funcionários em todo o mundo
            e atendendo a clientes em praticamente todos os setores. A empresa tem uma longa história de inovação em
            tecnologia, incluindo a introdução do conceito de banco de dados relacional e a liderança no desenvolvimento
            de soluções de computação em nuvem.</p>

        <p>A Oracle também é ativa em várias áreas de filantropia, incluindo doações de caridade, investimentos em
            tecnologia para impacto social e programas de educação e formação profissional para jovens em todo o mundo..
        </p>
        <a href="https://www.oracle.com/br/" class="btn btn-primary">click</a>
    </div>
</div>